.vs/
bin/
bin_int/
obj/
.va/

*.user
*.sln
*.vcxproj
*.vcxproj.*

*.json

/vendor/deps/VulkanSDK
/scripts/__pycache__
/Rebirth-Reedit/assets/cache
/*/assets/cache
/*/exported_assets
*.rba
/Sandbox/test

# Exceptions
!/vendor/premake/bin/