[submodule "Rebirth/libs/spdlog"]
	path = Rebirth/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rebirth/libs/glfw"]
	path = Rebirth/libs/glfw
	url = https://github.com/TigerCipher/glfw
