[submodule "Rebirth/libs/spdlog"]
	path = vendor/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rebirth/libs/glfw"]
	path = vendor/deps/glfw
	url = https://github.com/TigerCipher/glfw
[submodule "Rebirth/libs/imgui"]
	path = vendor/deps/imgui
	url = https://github.com/TigerCipher/imgui
	branch = docking
[submodule "Rebirth/libs/glm"]
	path = vendor/deps/glm
	url = https://github.com/g-truc/glm
[submodule "Rebirth/libs/yaml-cpp"]
	path = vendor/deps/yaml-cpp
	url = https://github.com/TigerCipher/yaml-cpp
[submodule "vendor/deps/ImGuizmo"]
	path = vendor/deps/ImGuizmo
	url = https://github.com/TigerCipher/ImGuizmo.git
[submodule "vendor/deps/box2d"]
	path = vendor/deps/box2d
	url = https://github.com/TigerCipher/box2d
