[submodule "Rebirth/libs/spdlog"]
	path = Rebirth/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rebirth/libs/glfw"]
	path = Rebirth/libs/glfw
	url = https://github.com/TigerCipher/glfw
	ignore = dirty
[submodule "Rebirth/libs/imgui"]
	path = Rebirth/libs/imgui
	url = https://github.com/TigerCipher/imgui
	branch = docking
	ignore = dirty
[submodule "Rebirth/libs/glm"]
	path = Rebirth/libs/glm
	url = https://github.com/g-truc/glm
[submodule "Rebirth/libs/yaml-cpp"]
	path = Rebirth/libs/yaml-cpp
	url = https://github.com/TigerCipher/yaml-cpp
